.fontfor{
    font-family: "Arsenal SC", sans-serif;
}
.bodyindex{
    background: url('https://images.unsplash.com/photo-1636971819476-aa41dc3db0d0?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmlkZW8lMjBlZGl0aW5nfGVufDB8fDB8fHww');
    background-size: cover; 
}
@media (max-width: 1000px) {
    .bodyindex {
        background-repeat: no-repeat;
        height: 100vh;
    }
}